/* Margin */
.mt20 {
  margin-top: 20px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.ml32 {
  margin-left: 32px;
}

/* Padding */
.p20 {
  padding: 20px !important;
}
.py20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.py40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.py80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.px20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pb120 {
  padding-bottom: 120px !important;
}

.pt120 {
  padding-top: 120px !important;
}

.py120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.pl32 {
  padding-left: 32px !important;
}

/* Tablet up */
@media (min-width: 768px) {
  /* Margin */
  .mr30md {
    margin-right: 30px !important;
  }
  /* Padding */
  .px20md {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  .px40md {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .py80md {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }

  .pl32md {
    padding-left: 32px !important;
  }

  .pr32md {
    padding-right: 32px !important;
  }
}

/* Desktop up */
@media (min-width: 992px) {
  /* Margin */
  .mr30lg {
    margin-right: 30px !important;
  }

  /* Padding */
  .px40lg {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }

  .pl-md-3.px40lg {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }

  .pr-md-3.px40lg {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }

  .py120lg {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
  }

  .pl80lg {
    padding-left: 80px !important;
  }

  .pr80lg {
    padding-right: 80px !important;
  }
}

.divider {
  width: 100%;
  display: block;
  height: 1px;
}

.divider.divider-primary {
  background-color: var(--primary);
}
