.result-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 80px;
}

.result-card {
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.result-card img {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.result-card:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.result-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.result-card__footer {
  padding: 15px;
  background-color: var(--primary-light);
  text-align: center;
  margin-top: -6px;
  position: relative;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .result-cards {
    -ms-grid-columns: 1fr 48px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px 48px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .result-cards {
    -ms-grid-columns: 1fr 72px 1fr 72px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px 72px;
  }
}
